<div class="uk-container" style="margin-top:15px;">
    <h1>Data Overview</h1>
    <p>
        This is a brief overview of the data that we used to feed the application and how it was applied. The idea was to be as transparent as possible since we sourced this data from various places across the web and then manually geocoded it to suit the needs of the application. Below is a list of the resources that we used during the information gathering process. Because of the great diversity in single malt scotch whiskies, it was important to get information from as many different sources as possible. 
    </p>

    <hr class="uk-divider-icon">

    <h3>Data Sources</h3>
    <table class="uk-table uk-table-responsive uk-table-divider">
        <thead>
            <tr>
                <th>Name</th>
                <th>Information Gathered</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="https://scotchwhisky.com/" target="_blank">Scotch Whisky</a></td>
                <td>Descriptions, regions, facts, and production capacity</td>
            </tr>
            <tr>
                <td><a href="https://www.whiskybase.com/" target="_blank">Whisky Base</a></td>
                <td>Founding dates, regions, still counts, locations, and production capacity</td>
            </tr>
            <tr>
                <td><a href="https://www.maltmadness.com/whisky/" target="_blank">Malt Madness</a></td>
                <td>Founding dates, regions, and locations</td>
            </tr>
            <tr>
                <td><a href="https://www.reddit.com/r/Scotch/" target="_blank">Reddit Scotch Community</a></td>
                <td>Tasting notes, region information, introductory malt information</td>
            </tr>
            <tr>
                <td><a href="https://flaviar.com/blog/your-cheat-sheet-to-scottish-whisky-regions" target="_blank">Flaviar Scotch Blog</a></td>
                <td>Tasting notes, region information</td>
            </tr>
            <tr>
                <td><a href="http://www.scotch-whisky.org.uk/" target="_blank">Scotch Whisky Association</a></td>
                <td>Historical information, tasting notes, general scotch facts</td>
            </tr>
        </tbody>
    </table>
</div>