<div class="uk-offcanvas-content">
    <nav class="uk-navbar-container">
        <div class="uk-navbar-left uk-visible@m">
            <a class="uk-navbar-item uk-logo" [routerLink]="['/home']">Scotch Journey</a>
            <ul class="uk-navbar-nav">
                <li><a [routerLink]="['/home']">Home</a></li>
                <li><a [routerLink]="['/introduction']">Introduction</a></li>
                <li><a [routerLink]="['/overview']">Data Overview</a></li>
                <li><a [routerLink]="['/map']">Map</a></li>
            </ul>
        </div>

        <div class="uk-navbar-left uk-hidden@m">
            <a uk-navbar-toggle-icon="" uk-toggle="target: #sidenav" class="uk-navbar-toggle uk-navbar-toggle-icon uk-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="5" height="20" viewBox="0 0 5 20" icon="navbar-toggle-icon" ratio="1">
                    <rect y="9" width="5" height="2"></rect>
                    <rect y="3" width="5" height="2"></rect>
                    <rect y="15" width="5" height="2"></rect>
                </svg>
            </a>
            <a class="uk-navbar-item uk-logo" [routerLink]="['/home']">Scotch Journey</a>
        </div>
    </nav>

    <div id="sidenav" uk-offcanvas="overlay: true">
        <div class="uk-offcanvas-bar">
            <ul class="uk-nav uk-nav-default">
                <li class="uk-nav-header">Navigation</li>
                <li><a [routerLink]="['/home']">Home</a></li>
                <li><a [routerLink]="['/introduction']">Introduction</a></li>
                <li><a [routerLink]="['/overview']">Data Overview</a></li>
                <li><a [routerLink]="['/map']">Map</a></li>
            </ul>
        </div>
    </div>
</div>

<router-outlet></router-outlet>
