<div class="uk-container">
    <h1>Project Overview</h1>
    <p>
        Hello! We are two students studying at Claremont Graduate Univeristy and this application was built as a part of one of our GIS classes there. Scotch Journey is an application that allows you to experience the world of Scotch whisky in new and exciting ways. The goal was to build a small, portable application that allows you to interact with our ArcGIS-powered map to understand the world of Scotch. We've also gone through and added additional information including a brief history, regional differences, and a small guide on how best to delve into the world of Scotch. 
    </p>

    <hr class="uk-divider-icon">

    <h4>Objectives</h4>
    <ul class="uk-list uk-list-bullet">
        <li>Create a small, portable, effective web application</li>
        <li>Tie into ArcGIS Online via the ArcGIS for JavaScript API</li>
        <li>Display a map (or maps) helping to give an overview of Scotch whisky</li>
        <li>Provide the visitor with additional information aimed at helping them on their very own Scotch Journey</li>
    </ul>

    <hr class="uk-divider-icon">

    <h4>Tools Used</h4>
    <div class="uk-grid-medium uk-child-width-expand@m" uk-grid>
        <div>
            <div class="uk-card uk-card-default">
                <div class="uk-card-body">
                    <h3 class="uk-card-title">ArcGIS Online</h3>
                    <p>The base map and all of its layers were constructed using ArcGIS Online so that we could create a well-built and interactive map for this application.</p>
                </div>
                <div class="uk-card-footer">
                    <a href="https://www.arcgis.com/home/index.html" target="_blank">Link</a>
                </div>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-default">
                <div class="uk-card-body">
                    <h3 class="uk-card-title">ArcGIS JavaScript API</h3>
                    <p>This was used to actually load the map into the application and then render it so that it could be both dynamic and responsive compared to its base.</p>
                </div>
                <div class="uk-card-footer">
                    <a href="https://developers.arcgis.com/javascript/" target="_blank">Link</a>
                </div>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-default">
                <div class="uk-card-body">
                    <h3 class="uk-card-title">Visual Studio Code</h3>
                    <p>The application was actually built with this and is a powerful IDE that was designed and built by Microsoft to suit the needs of web developers.</p>
                </div>
                <div class="uk-card-footer">
                    <a href="https://code.visualstudio.com/" target="_blank">Link</a>
                </div>
            </div>
        </div>
    </div>
    <div class="uk-grid-medium uk-child-width-expand@m" uk-grid>
        <div>
            <div class="uk-card uk-card-default">
                <div class="uk-card-body">
                    <h3 class="uk-card-title">Angular</h3>
                    <p>A next-gen JavaScript framework aimed at building web applications of all shapes and sized. This was used to build the base of the web application.</p>
                </div>
                <div class="uk-card-footer">
                    <a href="https://www.angular.io/" target="_blank">Link</a>
                </div>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-default">
                <div class="uk-card-body">
                    <h3 class="uk-card-title">Angular Material</h3>
                    <p>Native Angular components built by the Angular team that we used to help add functionality to the client-side CSS provided by UIkit.</p>
                </div>
                <div class="uk-card-footer">
                    <a href="https://material.angular.io/" target="_blank">Link</a>
                </div>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-default">
                <div class="uk-card-body">
                    <h3 class="uk-card-title">UIkit</h3>
                    <p>This was the base for all of the CSS on the site and enabled us to maintain a similar design throughout the application while adding diversity.</p>
                </div>
                <div class="uk-card-footer">
                    <a href="http://www.getuikit.com/" target="_blank">Link</a>
                </div>
            </div>
        </div>
    </div>
</div>